@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');



header{
    background-color: #F0F8FF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 10px 0px;
    text-align: center;
    font-size: 30px;
       
}

body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    
}

#banner{
    background-image: url(../img/img.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;  
}

main{
    font-size: 30px;
    text-align: center;
}

ul{
    text-align: left;
}

li{
    font-weight: bold;
    line-height: 2.5;
}

footer{
    font-family: 'Yanone Kaffeesatz', sans-serif; 
    font-size: 20px;
    text-align: center;
    
}